<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <follow>true</follow>
        <encoder>
            <pattern>%d [%t] %-5p %c{3} - %m%n</pattern>
        </encoder>
    </appender>
    
    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.cassandraunit">
        <level value="debug" />
    </logger>
    <logger name="org.apache.cassandra">
        <level value="error" />
    </logger>
    <logger name="com.datastax.oss.driver">
        <level value="info" />
    </logger>
</configuration>


